### Вариант 1
#### Необходимо собрать информацию о вакансиях на вводимую должность (используем input или через аргументы) с сайтов Superjob и HH. Приложение должно анализировать несколько страниц сайта (также вводим через input или аргументы). Получившийся список должен содержать в себе минимум:
- Наименование вакансии.
- Предлагаемую зарплату (отдельно минимальную и максимальную).
- Ссылку на саму вакансию.
- Сайт, откуда собрана вакансия. ### По желанию можно добавить ещё параметры вакансии (например, работодателя и расположение). Структура должна быть одинаковая для вакансий с обоих сайтов. Общий результат можно вывести с помощью dataFrame через pandas.

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import numpy as np
import re
import pandas as pd
import json

In [44]:
# Определяем параметры

vac = input("Какую должность ищем: ")
max_list_sj = int(input("Сколько страниц Superjobs анализировать: "))
max_list_hh = int(input("Сколько страниц HH анализировать: "))

Какую долность ищем: курьер
Сколько страниц Superjobs анализировать: 2
Сколько страниц HH анализировать: 2

In [45]:
#Идея привести все ЗП к одному виду мне понравилась, попробовал тоже реализовать это.
cur_req = requests.get("https://www.cbr-xml-daily.ru/daily_json.js")    
cur = json.loads(cur_req.text)

In [46]:
# Забираем инфу с HH.ru


job_info = []
n = 0

for x in range(max_list_hh):
    resphh = requests.get(f'https://hh.ru/search/vacancy?area=1&fromSearchLine=true&text={vac}&from=suggest_post&page={x}', headers = {'User-agent':'Mozilla/5.0'}).text
    soup = bs(resphh, 'html.parser')
    cards = soup.find_all(name='div', attrs={"class" : "vacancy-serp-item"} )
    for i in cards:
        name_job = i.find('a', attrs = {'data-qa': "vacancy-serp__vacancy-title"}).text
        
        link_job = i.find('a', attrs = {'data-qa': "vacancy-serp__vacancy-title"}).get('href')
        
        employer = i.find('a', attrs = {'data-qa': "vacancy-serp__vacancy-employer"}).text
        employer_link = f"https://hh.ru{i.find('a', attrs = {'data-qa': 'vacancy-serp__vacancy-employer'}).get('href')}"
        
        address = i.find('div', attrs = {'data-qa': "vacancy-serp__vacancy-address"}).text
        
        cost = i.find('span', attrs = {'data-qa' : "vacancy-serp__vacancy-compensation"})
        min_cost = np.nan
        max_cost = np.nan
        if cost:
            cost = cost.text 
            cost = cost.replace("\u202f", "").replace(" ", "")
            if re.findall('^от[0-9]+', cost):
                min_cost = int(re.findall('[0-9]+', cost)[0])
            elif re.findall('^до[0-9]+', cost):
                max_cost = int(re.findall('[0-9]+', cost)[0])
            else:
                min_cost = int(re.findall('[0-9]+', cost)[0])
                max_cost = int(re.findall('[0-9]+', cost)[1])
            if not re.findall('руб.', cost):
                currency = re.findall('[A-Z]{2,5}', cost)[0]
                if not np.isnan(min_cost):
                    min_cost = int(min_cost*cur["Valute"][currency]["Value"])//1000*1000
                if not np.isnan(max_cost):
                    max_cost = int(max_cost*cur["Valute"][currency]["Value"])//1000*1000
        
        job_from = "hh.ru"
        job_info.append([])
        job_info[n].append(name_job)
        job_info[n].append(link_job)
        job_info[n].append(min_cost)
        job_info[n].append(max_cost)
        job_info[n].append(job_from)
        job_info[n].append(employer)
        job_info[n].append(employer_link)
        job_info[n].append(address)
        
        
        n+=1

In [47]:
# Соберем данные в датафрейм

columns = ["Name job", "Link", "Min_salary", "Max_salary", "Where", "Employer","Employer_link", "Address"]
df = pd.DataFrame(job_info, columns=columns)

In [48]:
# Забираем инфу с Superjobs.ru


job_info2 = []
n = 0

for x in range(max_list_sj):
    resphh = requests.get(f'https://www.superjob.ru/vacancy/search/?keywords={vac}&geo%5Bt%5D%5B0%5D=4&page={x}', headers = {'User-agent':'Mozilla/5.0'}).text
    soup = bs(resphh, 'html.parser')
    cards = soup.find_all(name='div', attrs={"class" : "i_hc7 iJCa5 f-test-vacancy-item _1fma_ _2nteL"})
    
    for i in cards:
        name_job = i.find('a', attrs = {'class': "_6AfZ9"}).text
        
        
        link_job = f"https://www.superjob.ru{i.find('a', attrs = {'class': '_6AfZ9'}).get('href')}"
        employer = i.find('a', attrs = {'class': "_205Zx"})
        if employer:
            employer = i.find('a', attrs = {'class': "_205Zx"}).text
        
            employer_link = f"https://www.superjob.ru{i.find('a', attrs = {'class': '_205Zx'}).get('href')}"
        else:
            employer = np.nan
            employer_link = np.nan

        address = i.find('span', attrs = {'class': 'f-test-text-company-item-location'}).find(lambda tag: len(tag.attrs) == 0).text
             
        cost = i.find('span', attrs = {'class' : '_2Wp8I _1U0tH _2aBG1 _1DqPd'})

        min_cost = np.nan
        max_cost = np.nan
        if cost:
            cost = cost.text
            cost = cost.replace("\xa0", "").replace(" ", "")
           
            if re.findall('^от[0-9]+', cost):
                min_cost = int(re.findall('[0-9]+', cost)[0])
            elif re.findall('^до[0-9]+', cost):
                max_cost = int(re.findall('[0-9]+', cost)[0])
            elif len(re.findall('[0-9]+', cost)) == 1:
                min_cost = int(re.findall('[0-9]+', cost)[0])
                max_cost = int(re.findall('[0-9]+', cost)[0])
            elif not re.findall('[0-9]+', cost):
                continue
            else:
                min_cost = int(re.findall('[0-9]+', cost)[0])
                max_cost = int(re.findall('[0-9]+', cost)[1])
            if not re.findall('руб.', cost):
                currency = re.findall('[A-Z]{2,5}', cost)[0]
                if not np.isnan(min_cost):
                    min_cost = int(min_cost*cur["Valute"][currency]["Value"])//1000*1000
                if not np.isnan(max_cost):
                    max_cost = int(max_cost*cur["Valute"][currency]["Value"])//1000*1000
        
        job_from = "superjob.ru/"
        job_info2.append([])
        job_info2[n].append(name_job)
        job_info2[n].append(link_job)
        job_info2[n].append(min_cost)
        job_info2[n].append(max_cost)
        job_info2[n].append(job_from)
        job_info2[n].append(employer)
        job_info2[n].append(employer_link)
        job_info2[n].append(address)
        
        
        n+=1

In [49]:
# Соберем данные в датафрейм

columns = ["Name job", "Link", "Min_salary", "Max_salary", "Where", "Employer", "Employer_link", "Address"]
df2 = pd.DataFrame(job_info2, columns=columns)

In [50]:
# Склеим 2 датафрейма

final_df = pd.concat([df,df2],ignore_index=True)
final_df.info()
final_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name job       128 non-null    object
 1   Link           128 non-null    object
 2   Min_salary     108 non-null    float64
 3   Max_salary     84 non-null     float64
 4   Where          128 non-null    object
 5   Employer       124 non-null    object
 6   Employer_link  124 non-null    object
 7   Address        128 non-null    object
dtypes: float64(2), object(6)
memory usage: 8.1+ KB

,Name job,Link,Min_salary,Max_salary,Where,Employer,Employer_link,Address
0,Курьер в банк (без продаж),https://hh.ru/vacancy/49132039?query=%D0%BA%D1...,80000.0,NaN,hh.ru,ООО ЕФИН,https://hh.ru/employer/3682876,Москва
1,Курьер по району (свободный график),https://hh.ru/vacancy/49142501?query=%D0%BA%D1...,50000.0,60000.0,hh.ru,ООО Курьерист,https://hh.ru/employer/1421738,Москва
2,Водитель-курьер на автомобиле компании,https://hh.ru/vacancy/41968213?query=%D0%BA%D1...,71500.0,100000.0,hh.ru,Pony Express,https://hh.ru/employer/7371,Москва
3,Водитель-курьер на авто компании (любой округ ...,https://hh.ru/vacancy/48083079?query=%D0%BA%D1...,120000.0,170000.0,hh.ru,ООО СТРИТ ЛОГИСТИК,https://hh.ru/employer/5167304,Москва
4,Диспетчер по работе с курьерами,https://hh.ru/vacancy/49106526?query=%D0%BA%D1...,NaN,50000.0,hh.ru,Apple Concierge,https://hh.ru/employer/94488,Москва

In [51]:
final_df.describe()

          Min_salary     Max_salary
count     108.000000      84.000000
mean    66418.518519   99357.142857
std     25036.056795   33317.618212
min      1800.000000   40000.000000
25%     45000.000000   80000.000000
50%     65000.000000  100000.000000
75%     85000.000000  120000.000000
max    120000.000000  170000.000000

In [52]:
# Сохраним в csv формат.

final_df.to_csv('task1.csv')